@import url('./variables.css');

body,
html {
    background-color: var(--theme-color-background);
    color: var(--theme-color--font);
    /* stylelint-disable */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; 
    /* stylelint-enable */
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    font-kerning: normal;
    font-size: var(--font-size--default);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant-ligatures: common-ligatures contextual;
    font-weight: var(--font-weight--default);
    line-height: 1.5;
    min-height: 100vh;
    min-width: 100vw;
    text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding-block-end: 0;
    padding-block-start: 0;
    padding-inline-end: 0;
    padding-inline-start: 0;
}
