.typography--headline1 {
    font-size: 6rem;
    font-weight: var(--font-weight--light);
    letter-spacing: -0.01562em;
    line-height: 6rem;
    text-decoration: inherit;
    text-transform: inherit;
}

.typography--headline2 {
    font-size: 3.75rem;
    font-weight: var(--font-weight--light);
    letter-spacing: -0.00833em;
    line-height: 3.75rem;
    text-decoration: inherit;
    text-transform: inherit;
}

.typography--headline3 {
    font-size: 3rem;
    font-weight: var(--font-weight--default);
    letter-spacing: normal;
    line-height: 3.125rem;
    text-decoration: inherit;
    text-transform: inherit;
}

.typography--headline4 {
    font-size: 2.125rem;
    font-weight: var(--font-weight--default);
    letter-spacing: 0.00735em;
    line-height: 2.5rem;
    text-decoration: inherit;
    text-transform: inherit;
}

.typography--headline5 {
    font-size: 1.5rem;
    font-weight: var(--font-weight--default);
    letter-spacing: normal;
    line-height: 2rem;
    text-decoration: inherit;
    text-transform: inherit;
}

.typography--headline6 {
    font-size: 1.25rem;
    font-weight: var(--font-weight--bold);
    letter-spacing: 0.0125em;
    line-height: 2rem;
    text-decoration: inherit;
    text-transform: inherit;
}

.typography--subtitle1 {
    font-size: 1rem;
    font-weight: var(--font-weight--default);
    letter-spacing: 0.00937em;
    line-height: 1.75rem;
    text-decoration: inherit;
    text-transform: inherit;
}

.typography--subtitle2 {
    font-size: 0.875rem;
    font-weight: var(--font-weight--bold);
    letter-spacing: 0.00714em;
    line-height: 1.375rem;
    text-decoration: inherit;
    text-transform: inherit;
}

.typography--body1 {
    font-size: 1rem;
    font-weight: var(--font-weight--default);
    letter-spacing: 0.03125em;
    line-height: 1.5rem;
    text-decoration: inherit;
    text-transform: inherit;
}

.typography--body2 {
    font-size: 0.875rem;
    font-weight: var(--font-weight--default);
    letter-spacing: 0.01786em;
    line-height: 1.25rem;
    text-decoration: inherit;
    text-transform: inherit;
}

.typography--caption {
    font-size: 0.75rem;
    font-weight: var(--font-weight--default);
    letter-spacing: 0.03333em;
    line-height: 1.25rem;
    text-decoration: inherit;
    text-transform: inherit;
}

.typography--button {
    font-size: 0.875rem;
    font-weight: var(--font-weight--bold);
    letter-spacing: 0.08929em;
    line-height: 2.25rem;
    text-decoration: none;
    text-transform: uppercase;
}

.typography--overline {
    font-size: 0.75rem;
    font-weight: var(--font-weight--bold);
    letter-spacing: 0.16667em;
    line-height: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

a {
    color: var(--theme-color--primary);
    transition: color 200ms ease-out;
}

a:hover {
    color: var(--theme-color--secondary);
}

a:visited {
    color: var(--theme-color--primary);
}

a:visited:hover {
    color: var(--theme-color--secondary);
}
