/**
* ------------------
* Variables
* ------------------
*/
:root {
    /* Color */
    --color-black: hsla(0, 0%, 20%, 1);
    --color-white: hsla(0, 0%, 100%, 1);
    --color-gray--light: hsla(120, 2%, 88%, 1);
    --color-gray--mid: hsla(120, 2%, 60%, 1);
    --color-gray--dark: hsla(120, 2%, 40%, 1);
    --color-material-blue: hsla(207, 90%, 61%, 1);
    --color-material-blue--light: hsla(199, 100%, 75%, 1);
    --color-material-blue--dark: hsla(203, 100%, 38%, 1);

    /* Theming */
    --theme-color--primary: var(--color-black);
    --theme-color--secondary: var(--color-material-blue--dark);
    --theme-color--font: var(--color-black);
    --theme-color--background: var(--color-white);

    /* Typography */
    --font-size--default: 16px;
    --font-weight--default: 400;
    --font-weight--light: 300;
    --font-weight--bold: 700;

    /* Spacing */
    --spacing: 1.5em;
    --spacing--small: 1em;
}
